* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background:#FDC648;
}

#container {
  position: relative;
}

#container canvas {
  position: absolute;
  width:100%;
  margin:0 auto;
}

#content .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content {
  line-height: 1;
  text-align: center;
  width: 100%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.content .content-main {
  position: relative;
}

.content h1 {
  font-family: 'Anton', sans-serif;
  position: absolute;
  font-size: 80px;
  font-weight: 900;
  margin-bottom: 32px;
  padding: 4px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  border: 5px solid #FFF;
}

.content h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
}

.content .home-btn, .content .contact-btn {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 13px 25px;
  font-size: 18px;
  border-radius: 40px;
  margin: 8px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.content .home-btn:hover, .content .contact-btn:hover {
  opacity: 0.9;
}

.content .home-btn {
  color: rgba(255, 0, 36, 0.7);
  background: #fff;
}

.content .contact-btn {
  border: 2px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
}

